.SideBar{
    display: flex;
    flex-direction: column;
    width: 110px;
    justify-content: center;
    align-items: center;
    background-color: #353353;
    gap: 2rem;
    border-right:1px solid #F9F9FF;
    /* position: fixed; */
    height: 100vh;
    /* z-index: 1; */
}
img{
    width: 40px;
    height: 40px;
}